<ion-header *ngIf="!isCreateUser">
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list no-lines>
    <ion-item class="profile-image">
      <ion-icon name="camera" item-end (tap)="getUploadOptions()">
      </ion-icon>
      <img [src]="user.photoURL" *ngIf="user.photoURL">
      <img src="../../assets/imgs/user.jpg" *ngIf="!user.photoURL">
    </ion-item>
    <ion-item>
      <ion-input type="text" (ionBlur)="updateDisplayName()" [(ngModel)]="user.displayName">
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-fab right bottom *ngIf="isCreateUser">
    <button ion-fab (tap)="onNext()">
      <ion-icon name="arrow-round-forward"></ion-icon>
    </button>
  </ion-fab>
</ion-content>