<ion-header>
    <ion-navbar>
        <ion-buttons start *ngIf="currentUser">
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Notice Board</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list inset class="noticeBoard-list">
        <button ion-item *ngFor="let noticeBoard of noticeBoards$|async" [navPush]="noticeBoardPage"
            [navParams]="noticeBoard">
            <ion-avatar item-start>
                <img [src]="noticeBoard.imageUrl" *ngIf="noticeBoard.imageUrl">
                <img src="../../assets/imgs/group.png" *ngIf="!noticeBoard.imageUrl">
            </ion-avatar>
            <h2>{{noticeBoard.boardName|uppercase}}</h2>
            <p>{{noticeBoard.description}}</p>
        </button>
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab [navPush]="createNoticeBoardPage">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>