<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-avatar item-start>
                <img [src]="user?.photoURL" *ngIf="user?.photoURL">
                <img src="../assets/imgs/user.jpg" *ngIf="!user?.photoURL">
            </ion-avatar>
            <ion-title>Notice Board</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item (tap)="goToPage(profilePage)">
                <ion-icon name="person" item-left></ion-icon>Profile
            </button>
            <button ion-item (tap)="goToPage(settingsPage)">
                <ion-icon name="settings" item-left></ion-icon>Settings
            </button>
            <button ion-item (tap)="logout()">
                <ion-icon name="log-out" item-left></ion-icon>Log Out
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage " #content></ion-nav>