<ion-header>

    <ion-navbar>
        <ion-title>{{noticeBoard.boardName|uppercase}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card *ngFor="let message of messages">
        <ion-card-header>
            {{admins[message.createdBy]?.displayName}}
        </ion-card-header>
        <ion-card-content>
            {{message.text}}
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer *ngIf="admins[auth.getActiveUser().uid]">
    <ion-textarea [(ngModel)]="message" placeholder="Type your message here" (keypress)="onSendMessage($event)">
    </ion-textarea>
</ion-footer>